body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background-image: url(../images/JJK.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

* {
  box-sizing: inherit;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: transparent;
  color: rgb(250, 243, 243);
  text-shadow: 2px 4px 4px rgb(26, 25, 25);
}

.blog,
.chat-container {
  background: transparent;
  color: #f8eaea;
  text-align: center;
  text-shadow: 2px 4px 4px rgb(26, 25, 25);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 20px;
}

#chat-box {
  background-color: whitesmoke;
  opacity: 0.5;
  border: 1px solid #ddd;
  height: 200px;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  margin-bottom: 8px;
  color: black;
  font-size: 20px;
  text-shadow: none;
}

.message span {
  font-weight: bold;
}

input {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
}

button {
  padding: 10px;
  width: 100%;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
