body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-image: url(../images/avatar.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  height: 100vh;
  background-color: black;
}

* {
  box-sizing: inherit;
}

#header {
  text-align: center;
  color: azure;
  text-shadow: black 2px 2px 4px;
  font-size: 45px;
}

p {
  margin-bottom: 30px;
  color: white;
  text-shadow: black 2px 2px 4px;
  text-align: center;
  font-size: 25px;
}

#reviewSection {
  max-width: 400px;
}

#reviewInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

#addReviewBtn {
  padding: 10px 12px;
  cursor: pointer;
  background-color: #b6260d;
  color: white;
  border: none;
  border-radius: 4px;
}

#addReviewBtn:hover {
  background-color: #8c1e0a;
  opacity: auto;
}

.review {
  background: white;
  color: black;

  border: none;
  border-radius: 25px;
  padding: 10px;
  margin-top: 30px;
}

.review__text {
  color: black;
  margin-bottom: 8px;
  font-size: 22px;
  text-shadow: none;
}

.likeBtn {
  background-color: #e61717;
  border: black 2px solid;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
}
.likeBtn:hover {
  background-color: black;
  opacity: auto;
}

.review.liked {
  background-color: #e6f2ff;
  color: black;
}
.review.liked .likeBtn {
  background-color: #bad1f5;
  color: black;
}
