html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-image: url();
  background-size: cover;
  background-position: center;
}

* {
  box-sizing: inherit;
}

fieldset {
  text-align: center;
  width: 350px;
  height: 500px;
  box-shadow: 8px 10px 10px 5px rgba(0, 0, 0, 0.423);

  /* To center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.form__button {
  width: 100%;
  height: 60px;

  display: inline-block;
  padding: 15px 15px;
  background-color: rosybrown;
  color: #fff;

  border-radius: 6px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
}

.form__button:hover {
  background-color: black;
}

div {
  margin: 4rem;
}

input {
  display: block;
  text-align: center;
  border: none;
  font-size: 1.1rem;
  background-color: rgb(204, 204, 204);
  border: 1px solid black;
  width: 100%;
  padding: 20px;
}

input[type="submit"] {
  background-color: rosybrown;
  color: white;
}

h3 {
  color: rgb(241, 172, 71);
}
